// Primary Colors

$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$outer-space: rgba(45, 56, 58, 1);
$cinnarbar: rgba(233, 87, 65, 1);
$cinnarbar-half: rgba(233, 87, 65, 0.5);
$shadow-green: rgba(153, 201, 175, 1);
$shadow-green-half: rgba(153, 201, 175, 0.5);
$bitter: rgba(138, 140, 119, 1);
$pancho: rgba(233, 204, 157, 1);
$copperfield: rgba(220, 143, 105, 1);
$pear-lusta: rgba(251, 239, 216, 1);
$pear-lusta-half: rgba(251, 239, 216, 0.5);

// Secondary Colors

$wood-smoke: rgba(17, 23, 22, 1);
$kangaroo: rgba(233, 204, 157, 1);
$tacao: rgba(242, 163, 141, 1);
