/* GRID */

// Set base margin

$base-margin         : 10px;
$max-width           : 1440px;
$break_standard      : max-width 1320px;
$break_medium        : max-width 1100px;
$break_tablet_above  : min-width 769px;
$break_tablet        : max-width 768px;
$break_mobile        : max-width 600px;
$break_mobile_small  : max-width 420px;

*, { // *:after, *:before || after & before having impact on bullet points

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;

}

body {

  max-width: $max-width;
  // background-color: $outer-space;<-- Idea for Handbook

}

.container {

  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    width: 100%;

  }
}

.hide-on-tablet {

  @media screen and (max-width: 768px) {
    display: none !important;
  }

}
