.button {
  padding: 10px 20px;
  border-radius: 1px;
  margin-top: 10px;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  vertical-align: middle;
  color: $white;
  background-color: $bitter;

  &:hover {
    color: $pear-lusta;
    background-color: $outer-space;
  }



  &__hero {
    padding: 10px 25px;
    font-family: $font_tertiary;
    font-size: 22px;
    background-color: $black;
    border-bottom: 3px solid $shadow-green;
    color: $shadow-green;
    margin: 20px 0;

    &:hover {
      color: $black;
      background-color: $shadow-green;
      border-bottom: 3px solid $black;
    }

    &--handbook {
      float: left;
      margin: 0 20px;
    }

  }

  &--secondary {
    margin-left: 20px;
    color: $white;
    background-color: $shadow-green;

    &:hover {
      color: $pear-lusta;
      background-color: $shadow-green 0.5;
    }

  }

  &--tertiary {
    color: $outer-space;
    background-color: $pear-lusta;

    &:hover {
      color: $pear-lusta;
      background-color: $outer-space;
    }
  }

  &__down-arrow {
    &:after {
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 50px solid #555;
    }
  }

}
