.button {
  padding: 10px 20px;
  border-radius: 1px;
  margin-top: 10px;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  color: $white;
  background-color: $bitter;

  &:hover {
    color: $pear-lusta;
    background-color: $outer-space;
  }



  &__hero {
    padding: 10px 25px;
    font-family: $font_tertiary;
    font-size: 22px;
    background-color: $wood-smoke;
    border-bottom: 3px solid $shadow-green;
    color: $shadow-green;
    margin: 20px 0;
    display: inline-block;

    &:hover {
      color: $black;
      background-color: $shadow-green;
      border-bottom: 3px solid $wood-smoke;
    }

    &--handbook {

    }

  }

  &--secondary {
    margin-left: 20px;
    color: $white;
    background-color: $shadow-green;

    &:hover {
      color: $pear-lusta;
      background-color: $shadow-green 0.5;
    }

  }

  &--tertiary {
    color: $outer-space;
    background-color: $pear-lusta;

    &:hover {
      color: $pear-lusta;
      background-color: $outer-space;
    }
  }

  &__down-arrow  {

      display: inline-block;
      width: 10;
      height: 10;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $wood-smoke;

  }

  &__left-arrow {

      display: inline-block;
      width: 10;
      height: 10;
      border-right: 20px solid $wood-smoke;
      border-bottom: 20px solid transparent;
      border-top: 20px solid transparent;

  }

}
