.footer {

  width: $max-width;
  height: 196px;
  position: relative;
  display: table;
  background-color: $pear-lusta;
  overflow: hidden;
  box-sizing: border-box;
  direction: ltr;

  &__left,
  &__right {

    display: table-cell;
    width: 50%;
    position: relative;

  }
}

.footer__left__image {

  position: absolute;

  &--shapes {
    padding-top: 20px;
  }

  &--social {
    right: 290px;
    top: 90px;
  }
}

.footer__right__image {
  position: absolute;

  &--rectangle-md {
    bottom: 0px;
    right: 50px;
  }

  &--arrow {
    top: 50px;
    right: 190px;
  }
}

.footer__right--copyright {

  position: absolute;
  top: 90px;
  left: 210px;
  font-family: $font_primary;
  color: $bitter;
  font-size: 18px;

}
