
.nav {

  width: 144px;
  position: fixed;
  bottom: 196px;
  left: 0;
  border-radius: 3px;
  z-index: 1;
  background-color: $wood-smoke;
  padding: 0 0 30px 0px;

  ul {
    background-image: url('/assets/media/shapes/nav_arrow.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 0px 0 75px 0;
  }

  &__item {

    padding: 30px 40px 30px 20px;

    &:first-child {
      padding: 60px 40px 30px 20px;
    }

  }

  a {
    text-decoration: none;
    font-family: $font_tertiary;
    color: $pear-lusta;
    font-size: 22px;
  }

}
