.section {
  clear: both;
  max-width: $max-width;
}

  .wrapper {

    display: table;
    width: 100%;
    background-color: $pear-lusta;

    &--secondary {
      background-color: $white;
    }

    &--tertiary {
      background-color: $cinnarbar;
    }

    &__content {
      width: 60%;
      display: table-cell;
      vertical-align: middle;
      padding: 100px 100px 100px 200px;

      &--secondary {
        background: $shadow-green;
      }

    }

    &__media {
      height: 100%;
      width: 40%;
      display: table-cell;
      vertical-align: bottom;

      &--left {
        vertical-align: middle;
        padding-left: 150px;
      }

      &--right {
        vertical-align: middle;
        padding-right: 100px;
      }

      &--total {
        vertical-align: top;
        padding-top: 100px;
      }

      &--heading {
        line-height: 1.8;
      }

      &--img-right {
        padding-right: 100px;
      }

      &--40 {
        padding: 100px 100px 100px 0px;
      }

  }



    &--reverse {

      direction: rtl;

      .wrapper__media {
        direction: ltr;
      }

      .wrapper__content {
        direction: ltr;
      }
    }

  }

  .wrapper__content--header1:before {
    content: url('/assets/media/shapes/rectangle-bullet.svg');
    position: absolute;
    margin-left: -55px;
  }

  .wrapper__content--header2:before {
    content: url('/assets/media/shapes/diagonal-bullet.svg');
    position: absolute;
    margin-left: -55px;
  }

  .wrapper__content--header3:before {
    content: url('/assets/media/shapes/circle-bullet.svg');
    position: absolute;
    margin-left: -55px;
  }

  .wrapper__content--header4:before {
    content: url('/assets/media/shapes/half-circle-bullet.svg');
    position: absolute;
    margin-left: -55px;
  }

  .wrapper__content--header5:before {
    content: url('/assets/media/shapes/double-square-bullet.svg');
    position: absolute;
    margin-left: -55px;
  }

  .wrapper__content--header6:before {
    content: url('/assets/media/shapes/handbook/bullet--doughnut-circle.svg');
    position: absolute;
    margin-left: -55px;
  }


.ayup-map {
  display: block;
  vertical-align: middle;
}
