.button {
  font-size: 18px;
  padding: 0.5em 1em;
  @include border-radius(0.1rem);
  margin-top: 0.5em;
  font-family: $font-primary;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  color: $white;
  background-color: $bitter;

  &:hover {
    color: $pear-lusta;
    background-color: $outer-space;
  }



  &__hero {
    font-size: 22px;
    padding: 0.6em 1.2em;
    margin: 0.9em 0;
    font-family: $font_tertiary;
    background-color: $wood-smoke;
    border-bottom: 3px solid $shadow-green;
    color: $shadow-green;
    display: inline-block;
    position: relative;

    &:hover {
      color: $black;
      background-color: $shadow-green;
      border-bottom: 3px solid $wood-smoke;
    }

    &:before {
      content:'\e80b';
      position: absolute;
      bottom: -48px;
      left: 7rem;
      text-shadow: black -3px 0px;
      font-family: "fontello";
      color: $wood-smoke;
      font-size: 2.5rem;
      transform: rotate(270deg);
    }

  }

  &--secondary {
    margin-left: 1em;
    color: $white;
    background-color: $shadow-green;

    &:hover {
      color: $pear-lusta;
      background-color: $shadow-green 0.5;
    }

  }

  &--tertiary {
    color: $outer-space;
    background-color: $pear-lusta;

    &:hover {
      color: $pear-lusta;
      background-color: $outer-space;
    }
  }

  &__hero--handbook {

    font-size: 22px;
    padding: 0.6em 1.2em;
    margin: 0 0 2rem 0;
    font-family: $font_tertiary;
    background-color: $wood-smoke;
    border-bottom: 3px solid $shadow-green;
    color: $shadow-green;
    display: inline-block;
    position: relative;

    &:hover {
      color: $black;
      background-color: $shadow-green;
      border-bottom: 3px solid $wood-smoke;
    }

    &:before {
      content:'\e80b';
      position: absolute;
      text-shadow: black 0px -1px;
      top: 3px;
      left: -3rem;
      font-family: "fontello";
      color: $wood-smoke;
      font-size: 2.5rem;
    }

  }

}
