.button {
  font-size: 18px;
  padding: 0.5em 1em;
  @include border-radius(0.1rem);
  margin-top: 0.5em;
  font-family: $font-primary;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  color: $white;
  background-color: $bitter;

  &:hover {
    color: $pear-lusta;
    background-color: $outer-space;
  }



  &__hero {
    font-size: 22px;
    padding: 0.6em 1.2em;
    margin: 0.9em 0;
    font-family: $font_tertiary;
    background-color: $wood-smoke;
    border-bottom: 3px solid $shadow-green;
    color: $shadow-green;
    display: inline-block;

    &:hover {
      color: $black;
      background-color: $shadow-green;
      border-bottom: 3px solid $wood-smoke;
    }


  }

  &--secondary {
    margin-left: 1em;
    color: $white;
    background-color: $shadow-green;

    &:hover {
      color: $pear-lusta;
      background-color: $shadow-green 0.5;
    }

  }

  &--tertiary {
    color: $outer-space;
    background-color: $pear-lusta;

    &:hover {
      color: $pear-lusta;
      background-color: $outer-space;
    }
  }

}

/*.button__hero--left-arrow:before {

    position: absolute;
    top: 2px;
    bottom: 6px;
    width: 0;
    height: 0;
    content: '';
    display: inline-block;
    border-right: 1.5rem solid $wood-smoke;
    border-bottom: 1.5rem solid transparent;
    border-top: 1.5rem solid transparent;

}*/

.button__hero--down-arrow:before {

    position: absolute;
    margin-bottom: -60px;
    display: inline-block;
    content: '';
    border-right: 1.5rem solid transparent;
    border-left: 1.5rem solid transparent;
    border-top: 1.5rem solid $wood-smoke;

}
