.hero {
  &__handbook {

    max-height: 273px;
    max-width: $max-width;
    width: 100%;
    position: relative;
    background-color: $outer-space;
    display: table;
    background-image: url('/assets/media/shapes/background-notFont/hero__background.svg');
    background-repeat: no-repeat;
    background-position: 100% 55%;
    overflow: hidden;

    @media screen and (max-width: 1320px){
      background-position: 50% 0%;
    }
    @media screen and (max-width: 1100px){
      background-position: 25% 0%;
      text-align: center;
    }
    @media screen and (max-width: 769px){
      background-position: 15% 0%;
    }
    @media screen and (max-width: 600px){
      background-position: 5% 0%;
    }
    @media screen and (max-width: 420px) {
      height: 700px;
      background-image: url('/assets/media/shapes/mobile-shapes-BG.svg');
      background-size: contain;
      background-position: 0% 0%;
    }

    &__logo {

      transform: translateY(-20%);

    }

  }
}

  /*@media screen and (max-width: 420px){
    background-position: 100% -100%;
  }*/

/*.hero__logo {
  display: table-cell;

  &--img {
    position: absolute;
    top: -45%;
  }
}*/
