.hero {

  height: 938px;
  max-width: $max-width;
  width: 100%;
  position: relative;
  background-color: $outer-space;
  display: table;
  text-align: center;
  background-image: url('/assets/media/shapes/background-notFont/hero__background.svg');
  background-repeat: no-repeat;
  background-position: 100% 0%;
  overflow: hidden;

  @media screen and (max-width: 1320px){
    background-position: -30% -10%;
  }
  @media screen and (max-width: 1100px){
    background-position: -15% 0%;
    text-align: center;
  }
  @media screen and (max-width: 769px){
    background-position: 15% 0%;
  }
  @media screen and (max-width: 420px) {
    height: 700px;
    background-image: url('/assets/media/shapes/mobile-shapes-BG.svg');
    background-size: contain;
    background-position: 0% 0%;

  }


  &__content, &--handbook {

    display: table-cell;
    vertical-align: middle;
    text-align: center;

  }

  &__logo {

    &--img {
    height: 300px;
    width: 300px;

    }
  }

}
