  .nav {

    @media screen and (max-width: 1435px) {
      display: none;
    }


    width: 144px;
    position: fixed;
    bottom: 196px;
    left: 0;
    border-radius: 3px;
    z-index: 1;
    background-color: $wood-smoke;
    padding: 0 0 105px 0px;

    ul {

      &:before {
        position: absolute;
        font-size: 2rem;
        text-align: center;
        bottom: -5%;
        left: 30%;
        font-family: 'fontello';
        padding: 0 0 75px 0;
        content: "\e80a";
        color: $shadow-green;
        // transform: rotate(180deg); Not looking good
}
    }

    &__item {

      padding: 2rem 2.5rem 2rem 1.5rem;

      &:hover {

       background-image: url('/assets/media/shapes/nav_hover.svg');
       background-repeat: no-repeat;
       background-position: 35% 62%;
       transition: 0s;

      }

      // ----- EDITS TO NEATEN UP NAV AND UNDERLINE -------- //

      &:first-child {
        padding-top: 4rem;

        &:hover {

          background-position: 30% 70%;

        }
      }

      &:last-child {
        &:hover {

          background-position: 50% 62%;

        }
      }

    }

    a {
      text-decoration: none;
      font-family: $font_tertiary;
      color: $pear-lusta;
      font-size: 22px;
    }

  }
