
main {

  width: $max-width*0.8;
  margin: auto;

}

.container {
  width: $max-width*0.8;
  margin: auto;
}

.wrapper {

  display: table;
  width: 100%;
  background-color: $pear-lusta;

  &--secondary {
    background-color: $white;
  }

  &--tertiary {
    background-color: $cinnarbar;
  }

  &--reverse {

    direction: rtl;

    .wrapper__media {
      direction: ltr;
    }

    .wrapper__content {
      direction: ltr;
      padding-right: 100px;
    }

  }

  // WRAPPER__CONTENT

  &__content {
    width: 55%;
    height: auto;
    display: table-cell;
    vertical-align: middle;
    padding: 6rem 3rem 6rem 12rem;

    &__header {

      &:before {

        @include custom-bullet;
        font-family:"fontello";
      }

      &--1 {
        &:before {

        content: '\e80f';
        color: $cinnarbar;

        }
      }

      &--2 {
        &:before {

        content: '\e815';
        color: $shadow-green

        }
      }

      &--3 {
        &:before {

        content: '\e804';
        color: $copperfield;

        }
      }

      &--4 {
        &:before {

        content: '\e808';
        color: $bitter;
        // transform: rotate(315deg); DOESNT LOOK GOOD UNLESS CAN ADJUST MARGIN?.....
        // *margin required? THIS ONE IS TOO CLOSE TO HEader
        margin-top: 0.6rem;
        font-size: 1.5rem;

        }
      }

      &--5 {
        &:before {

        content: '\e805';
        color: $kangaroo;

        }
      }

      &--6 {
        &:before {

        content: '\e803';
        color: $pear-lusta;

        }
      }

    }
  }

  //WRAPPER ALT CONTENT

  &--alt {
    padding: 4rem 6rem 6rem 0rem;
  }

  &--left-alt {
    padding: 6rem 3rem 6rem 12rem;
  }

  &--right {
    padding: 6rem 6rem 6rem 9rem;

  }

  &--secondary {
    background: $shadow-green;
  }

  &--header--false {
    font-size: 2.1rem;
    font-family: $font_secondary;
    color: $wood-smoke;
    line-height: 1.7;
  }


// WRAPPER MEDIA

  &__media {
    max-width: 45%;
    height: auto;
    display: table-cell;
    vertical-align: bottom;

    &--writing {

    }

    &--middle {
      vertical-align: middle;
      padding-left: 10rem;
    }

    &--writing {
      width: 55%;
      vertical-align: top;
      padding-top: 100px;
      padding-left: 1rem;
    }

    &--heading {
      line-height: 0;
      padding: 1.7rem 0;
    }

    &--right {
      padding: 6rem;
      vertical-align: middle;
      text-align: right;
    }

    &--40 {
      padding: 100px 100px 100px 0px;
    }

    &--red-square {
      max-width: 90%;
      vertical-align: middle;
      text-align: center;
    }

    &--grey-square {
      max-width: 90%;
      text-align: center;
      vertical-align: bottom;
    }

    &--map {

      height: 400px;
      width: 100%;
    }

  }
} // END OF WRAPPER


.link__ayup-email {

    text-decoration: underline;

}

// GOOGLE map styling

#js-googleMap {

  height: 100%;
  width: 100%;

}
