.table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  color: $cinnarbar;
  font-family: $font-tertiary;
  padding: 10px 0;
}

/*.table__th {
  @media screen and (max-width: 420px) {
    &:before {
      .placeholder {
        clear: both;
        display: block;
        text-align: center;
      }
    }
  }
} */

.table__th, .table__search {
    font-family: $font_secondary;
    color: $pear-lusta;
    background-color: $cinnarbar;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 0;
    border: none;

    &:first-child {
      padding-left: 3rem;
      background-color: $cinnarbar;
    }



}

td, .table__th {

  &:first-child {
    padding-left: 3rem;
    @media screen and (max-width: 768px){
      padding-left: 1rem;
    }
  }

}

.row {

  &:nth-child(2n) {
    background-color: $pear-lusta-half;
  }

}

@media (max-width: 768px){

  tr th:nth-child(3),tr td:nth-child(3){
      display:none;
  }



}

.table__expand {
  display: table;
  width: 100%;
  overflow: hidden;
  list-style: none;
  padding: 6rem 12rem;
  @media screen and (max-width: 1100px) {
    padding: 3rem 6rem;
  }

  &--content,
  &--media {
    box-sizing: border-box;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    list-style-type: none;
    }

  &--content {
  }

  &--media {
    float: right;

    @media screen and (max-width: 1250px) {
      display: none;
    }
  }

  /* HELP!!
  &--list1:after, &--list2:after, &--list3:after, &--list4:after, &--list5:after {
    @media screen and (max-width: 768px) {
      content: none;
    }
  }
  */

  &--list1 {
    font-family: $font_secondary;
    font-size: 34px;
    padding: 20px 0;

    &::before {
      content: url("/assets/media/logos/Apple_Icon.svg");
      padding-right: 20px;
      vertical-align: middle;
      text-align: center;
    }
  }

  &--list2, &--list3, &--list4 {
    font-family: $font_primary;
    font-size: 22px;
    padding: 10px 0;
  }

    &--list2::before {
        content: url("/assets/media/logos/OS_logo.svg");
        @include custom-list;
    }

    &--list3::before {
        content: url('/assets/media/logos/safari_logo.svg');
        @include custom-list;
    }

    &--list4::before {
        content: url('/assets/media/logos/resolution.svg');
        @include custom-list;
    }

  &--list5 {
      font-family: $font_primary;
      font-size: 20px;
      color: $cinnarbar;
      padding: 10px 0;

    &::before {
        content: url('/assets/media/logos/ayup_icon.svg');
        @include custom-list;
    }
  }

}

form {
  input {
    font-family: $font_secondary;
    color: $cinnarbar;
    font-size: 20px;
    border-radius: 10px;
    padding: 0 0 0 10px;
    margin: 0px;
    border-style: none;

  }
}

/* @include placeholder($cinnarbar); */
