.table {

  width: 100%;
  border-collapse: collapse;
  overflow: scroll;

  &__head {

    //display: inline-block;

  }

  &__body {

    overflow: scroll;
    height: 500px;
    width: 100%
    //position: absolute;

  }

}


td {
  text-align: center;
  color: $cinnarbar;
  font-family: $font-tertiary;
  padding: 10px 0;
}

// Added drop down arrows to table__th //

.table__th:after {
  content: url(/assets/media/shapes/dropUp-arrow.svg); //should i turn this into fontello? - LOOK IT UP
  margin-left: 0.5em;
  cursor: pointer; //
}


.table__th, .table__search {
    font-family: $font_secondary;
    color: $pear-lusta;
    background-color: $cinnarbar;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 0;
    border: none;

    &:first-child {
      padding-left: 3rem;
      background-color: $cinnarbar;
    }



}

td, .table__th {

  &:first-child {
    padding-left: 7rem;
    @media screen and (max-width: 768px){
      padding-left: 1rem;
    }
  }

}

// tboy with the scroll feature



.row {

  //display: block; // USED TO MAKE SCROLL WORK
  // position: relative;

  &:nth-child(2n) {
    background-color: $pear-lusta-half;
  }

  &:hover {
    cursor: pointer;
  }

}

@media (max-width: 768px){

  tr th:nth-child(3),tr td:nth-child(3){
      display:none;
  }

}

.table__expand, {
  width: 100%;
  overflow: hidden;
  list-style: none;
  padding: 6rem 12rem;

  // TABLE EXPAND MEDIA QUERIES >>

  @media screen and (max-width: 1100px) { // SAME AS CONTENT NEATEN
    padding: 3rem 12rem;
  }

  @media screen and (max-width: 769px) {
    padding: 3rem 4rem 1rem 6rem;
  }

  @media screen and (max-width: 420px) {
    padding: 1rem 3rem;
  }


// TOGGLE COLLAPSED class //

/* .collapsed {
  display: none;
} */

// << TABLE EXPAND MEDIA QUERIES

  &--content,
  &--media {
    box-sizing: border-box;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    list-style-type: none;
    }

  &--media {
    float: right;

    @media screen and (max-width: 1250px) {
      display: none;
    }
  }

  /* HELP!!
  &--list1:after, &--list2:after, &--list3:after, &--list4:after, &--list5:after {
    @media screen and (max-width: 768px) {
      content: none;
    }
  }
  */

  &--list1 {
    font-family: $font_secondary;
    font-size: 34px;
    padding: 1rem 0.4rem;

    &::before {
      content: '\f179';
      font-family: "fontello";
      padding-right: 1rem;
      vertical-align: middle;
      text-align: center;
    }
  }

  &--list2, &--list3, &--list4 {
    font-family: $font_primary;
    font-size: 22px;
    padding: 1rem 0;
  }

  &--list2::before {
    content: '\e811';
    font-family: "fontello";
    @include custom-list;
    font-size: 34px;
  }

  &--list3::before {
    content: '\e813';
    font-family: "fontello";
    @include custom-list;
    font-size: 34px;
  }

  &--list4::before {
    content: '\e812';
    font-family: "fontello";
    @include custom-list;
    font-size: 34px;
  }

  &--list5 {
      font-family: $font_primary;
      font-size: 20px;
      color: $cinnarbar;
      padding: 1rem 0;

    &::before {
      content: '\e810';
      font-family: "fontello";
      @include custom-list;
      font-size: 34px;
    }
  }

}

form {
  input {
    font-family: $font_secondary;
    color: $cinnarbar;
    font-size: 20px;
    border-radius: 15px;
    padding: 0 0 0 10px;
    margin: 0px;
    border-style: none;

  }
}

.icon-more-info {

  position: absolute;
  color: $cinnarbar;
  font-size: 3rem;

}

/* @include placeholder($cinnarbar); */


// --------- Expland Div styling here ------------ //

.collapsed {
  display: none;
  animation-duration: 0.4s;
}

//test for table__th

.table__expand--iphone {

  display: table-cell;

}
/* .table__th {

  display: inline-block;

} */


// For TOGGLE EXPAND ON CLICK
